[package]
name = "android-app"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
bytes.workspace = true
client-sdk = { path = "../../crates/client-sdk" }
web-ui = { path = "../web-ui" }
